{% extends "user/base.html" %}
{% block changing %}

<!-- Wrapper area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell mt-3">
						<h1 class="mt-5">Connecting Brilliance with opportunity</h1>
						<div class="hero-btns">
							<a href="authentication/signup.html" class="boxed-btn">Find Work <i class="fas fa-search ms-2"></i></a>
							<a href="contact.html" class="bordered-btn">Discover Talent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end wrapperarea -->

<!-- partners list section -->
<div class="list-section pt-80 pb-80 fadeInUp">
	<div class="container">

		<div class="row">
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="content">
						<img class="img-fluid" src="img/logo-github-min.png">
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="content">
						<img class="img-fluid mt-3" src="img/InVision-App-logo.png">
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="content">
						<img class="img-fluid mt-5" src="img/Kraft-Heinz_PNG.png">
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="content">
						<img class="img-fluid mt-5" src="img/coursera.png">
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end partners list section -->

<!-- empowerment section -->
<section class="cart-banner pt-100 pb-100 bg-white">
	<div class="container">
		<div class="row justify-content-between">
			<!--Image Column-->
			<div class="image-column col-lg-5">
				<div class="image">
					<img src="img/Visual-3 1.png" alt="">
				</div>
			</div>
			<!--Content Column-->
			<div class="content-column col-lg-5">
				<h3>Empower your future</h3>
				<h4>Why the world's best talent prefers<br> <span class="orange-text">E-training</span></h4>
				<div class="text">
					<i class="fas fa-check-circle"></i> Long-term placement<br>
					<i class="fas fa-check-circle"></i> Competitive compensation<br>
					<i class="fas fa-check-circle"></i> Career guidiance
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end empowerment section -->

<!-- Long-term goal section -->
<section class="cart-banner pt-100 pb-100 bg-white">
	<div class="container">
		<div class="row clearfix">
			<!--Content Column-->
			<div class="content-column col-lg-6">
				<h3><span class="orange-text">Long-term</span> goals</h3>
				<h4>We've cracked the code on creating engineering teams</h4>
				<div class="text">Skilled engineers, product managers, and designers at your fingertips. An extensive list of technical services to  suit your business needs. Start building your world class team faster with talent from E-talent.</div>
			</div>
			<!--Image Column-->
			<div class="image-column col-lg-6">
				<div class="image">
					<img src="img/Visual-1 1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end long-term goal section -->

<!-- advertisement section -->
<div class="abt-section mb-150">
	<div class="container-fluid">
		<div class="row shop-banner">
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<h4 class="text-white">Build a brilliant team quickly</h4>
					<p class="text-white">Brilliant minds and companies come together to build the future</p>
					<a href="about.html" class="boxed-btn mt-4 text-white">Build your dream team</a>
					<p class="text-white mt-3 ms-5">Get the enterprise advantage ></p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<ul class="events">
				<li>
					<time datetime="10:03"></time> 
					<span><strong>Smart Skill Matching</strong>Our intuitive machine learning and AI platform finds you the
						best match for any role. </span>
				</li>
					
				<li>
					<time datetime="10:03"></time> 
					<span><strong>Meet The Best Talent</strong> Easily schedule interviews and meet top technologists that 
						fit within your team.</span>
				</li>
				
				<li>
					<time datetime="10:03"></time> 
					<span><strong>Continued Excellence</strong> Integrate your new team members quickly and effectively. 
						Let us manage payroll and compliance.</span>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->

<!-- card section -->
<div class="logo-carousel-section bg-white">
	<div class="container">
		<h4 class="text-center mb-5">Brilliant minds and companies
			come together to build the future
		</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="text-center">
						<div class="single-product-item partner">
							<div class="product-image">
								<a href="single-product.html"><img class="img-fluid" src="img/logo-github-min.png" alt=""></a>
							</div>
							<h3 class="">we love working wth 
								essential. Overall 
								we've had a graet 
								experinece with the 
								engineering talent who 
								have joined Branch
							</h3>
							<a href="cart.html" class="cart-btn"><i class="fas fa-search"></i> Discover Talent</a>
						</div>
					</div>
					<div class="text-center">
						<div class="single-product-item partnerTwo">
							<div class="product-image">
								<a href="single-product.html"><img class="img-fluid mt-1" src="img/InVision-App-logo.png" alt=""></a>
							</div>
							<h3 class="mt-1">we love working wth 
								essential. Overall 
								we've had a graet 
								experinece with the 
								engineering talent who 
								have joined Branch
							</h3>
							<a href="cart.html" class="cart-btn"><i class="fas fa-search"></i> Discover Talent</a>
						</div>
					</div>
					<div class="text-center">
						<div class="single-product-item partnerThree">
							<div class="product-image mb-5">
								<a href="single-product.html"><img class="img-fluid mt-4 mb-5" src="img/Kraft-Heinz_PNG.png" alt=""></a>
							</div>
							<h3 class="mt-5">we love working wth 
								essential. Overall 
								we've had a graet 
								experinece with the 
								engineering talent who 
								have joined Branch
							</h3>
							<a href="cart.html" class="cart-btn"><i class="fas fa-search"></i> Discover Talent</a>
						</div>
					</div>
					<div class="text-center">
						<div class="single-product-item partnerFour">
							<div class="product-image">
								<a href="single-product.html"><img class="img-fluid mt-4" src="img/coursera.png" alt=""></a>
							</div>
							<h3 class="mt-5">we love working wth 
								essential. Overall 
								we've had a graet 
								experinece with the 
								engineering talent who 
								have joined Branch
							</h3>
							<a href="cart.html" class="cart-btn"><i class="fas fa-search"></i> Discover Talent</a>
						</div>
					</div>
					<div class="text-center">
						<div class="single-product-item partnerFive">
							<div class="product-image">
								<a href="single-product.html"><img class="img-fluid" src="img/seismic.png" alt=""></a>
							</div>
							<h3>we love working wth 
								essential. Overall 
								we've had a graet 
								experinece with the 
								engineering talent who 
								have joined Branch
							</h3>
							<a href="cart.html" class="cart-btn"><i class="fas fa-search"></i> Discover Talent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end card carousel -->

<!-- latest news -->
<div class="latest-news pt-50 pb-150">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h4>Welcome to the  future of meaningful sustainable work</h4>
					<p class="text-start">We believe that sum is greater than our parts - our impacts can be seen globally.</p>
				</div>
			</div>
		</div>

		<div class="row fadeIn">
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html"></a>
					<div class="news-text-box">
						<h3 class="text-center" style="font-size: 50px;"><a href="single-news.html" class="counter">110</a><a>+</a></h3>
						<p class="excerpt text-center" style="font-size: 20px;">Countries represented on
							6 continents.</p>
						&nbsp;&nbsp;&nbsp;<a href="single-news.html" class="read-more-btn">learn more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html"></a>
					<div class="news-text-box">
						<h3 class="text-center" style="font-size: 50px;"><a href="single-news.html" class="counter">90</a><a>%</a></h3>
						<p class="excerpt text-center" style="font-size: 20px;">Successful placement
							6 continents.</p>
						&nbsp;&nbsp;&nbsp;<a href="single-news.html" class="read-more-btn">learn more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-latest-news">
					<a href="single-news.html"></a>
					<div class="news-text-box">
						<h3 class="text-center" style="font-size: 50px;"><a href="single-news.html" class="counter">84</a><a>%</a></h3>
						<p class="excerpt text-center" style="font-size: 20px;">Increased income for Andelans
							6 continents.</p>
						&nbsp;&nbsp;&nbsp;<a href="single-news.html" class="read-more-btn">learn more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html"></a>
					<div class="news-text-box">
						<h3 class="text-center" style="font-size: 50px;" id="value"><a href="single-news.html" class="counter">175,000</a></h3>
						<p class="excerpt text-center" style="font-size: 20px;">Technologists represented
							6 continents.</p>
						&nbsp;&nbsp;&nbsp;<a href="single-news.html" class="read-more-btn">learn more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html"></a>
					<div class="news-text-box">
						<h3 class="text-center" style="font-size: 50px;"><a href="single-news.html" class="counter">18</a><a>+</a></h3>
						<p class="excerpt text-center" style="font-size: 20px;">Months Average engagement
							6 continents.</p>
						&nbsp;&nbsp;&nbsp;<a href="single-news.html" class="read-more-btn">learn more <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end latest news -->

<!-- skill section -->
<div class="logo-carousel-section">
	<div class="container">
		<h3 class="text-center">Scale faster with <span class="orange-text">E-training</span></h3>
		<h4 class="text-center">What skills will drive your vision?</h4>
		<div class="row">
			<div class="col-12" style="align-items: center;">
				<div class="text-center skill">
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
				</div>
				<div class="mt-4 text-center skill">
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
				</div>
				<div class="mt-4 text-center skill">
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
					<p href="" class="btn btn-lg btn-p">Graphic Design</p>
				</div>
				<div class="hero-btns text-center">
					<a href="authentication/signup.html" class="boxed-btn">Find Work <i class="fas fa-search ms-2"></i></a>
					<a href="contact.html" class="bordered-btn" style="background-color: #593EBA; border: 1px solid #593EBA;">Discover Talent</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end skill section -->

{% endblock changing %}