{% extends "user/base.html" %}
{% block changing %}

<!-- Wrapper area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell mt-3">
						<h1 class="mt-5">Find your dream job with  just one click</h1>
						<div class="hero-btns">
							<a href="#categories" class="boxed-btn">Explore Categories</a>
							<a href="#categories" class="bordered-btn">Hire Talent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end wrapperarea -->

<!-- empowerment section -->
<section class="cart-banner pt-100 pb-100 bg-white" id="categories">
	<div class="container">
		<div class="row justify-content-between">
			<!--Image Column-->
			<div class="image-column col-lg-4">
				<h2>Job categories</h2>
				<div class="">
					<p href="" class="categories btn btn-primary btn-lg row text-md-start btn-p" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="categories btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="categories btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
				<div class="">
					<p href="" class="btn btn-primary btn-lg row text-md-start btn-p mt-3" style="width: 100%;">Graphic Design</p>
				</div>
			</div>
			<!--Content Column-->
			<div class="content-column col-lg-7">
				<div class="row">
					<div class="col-2">
						<img class="client-avater" src="img/avaters/avatar1.png" alt="profile_photo">
					</div>
					<div class="col-10">
						<h4 class="" style="font-size: 25px;">Odejinmi Emmanuel</h4>
						<span class="orange-text">Information Technology</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						<a class="btn btn-outline-warning btn-profile" href="" style="border-radius: 50px;">View Profile</a><br>
						<span>Lagos, Lagos Nigeria</span><br>
						<span>Skills: <span class="">Communication, Teamwork, Creatvity.</span></span>
					</div>
				</div>
				<hr class="text-md-start" width="100%" size="2px" color="#F28123">
				<div class="row">
					<div class="col-2">
						<img class="client-avater" src="img/avaters/avatar1.png" alt="profile_photo">
					</div>
					<div class="col-10">
						<h4 class="" style="font-size: 25px;">Odejinmi Emmanuel</h4>
						<span class="orange-text">Information Technology</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						<a class="btn btn-outline-warning btn-profile" href="">View Profile</a><br>
						<span>Lagos, Lagos Nigeria</span><br>
						<span>Skills: <span class="">Communication, Teamwork, Creatvity.</span></span>
					</div>
				</div>
				<hr class="text-md-start" width="100%" size="2px" color="#F28123">
				<div class="row">
					<div class="col-2">
						<img class="client-avater" src="img/avaters/avatar1.png" alt="profile_photo">
					</div>
					<div class="col-10">
						<h4 class="" style="font-size: 25px;">Odejinmi Emmanuel</h4>
						<span class="orange-text">Information Technology</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						<a class="btn btn-outline-warning btn-profile" href="">View Profile</a><br>
						<span>Lagos, Lagos Nigeria</span><br>
						<span>Skills: <span class="">Communication, Teamwork, Creatvity.</span></span>
					</div>
				</div>
				<hr class="text-md-start" width="100%" size="2px" color="#F28123">
				<div class="row">
					<div class="col-2">
						<img class="client-avater" src="img/avaters/avatar1.png" alt="profile_photo">
					</div>
					<div class="col-10">
						<h4 class="" style="font-size: 25px;">Odejinmi Emmanuel</h4>
						<span class="orange-text">Information Technology</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						<a class="btn btn-outline-warning btn-profile" href="">View Profile</a><br>
						<span>Lagos, Lagos Nigeria</span><br>
						<span>Skills: <span class="">Communication, Teamwork, Creatvity.</span></span>
					</div>
				</div>
				<hr class="text-md-start" width="100%" size="2px" color="#F28123">
				<div class="row justify-content-center">
					<a class="orange-text text-center" href="">See more...</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end empowerment section -->

{% endblock changing %}